@charset "utf-8";
/* CSS Document */


body {
	background-color: #1f0342;
}

header {
	display: flex;
	background: #0B0022;
	justify-content: space-between;
	align-items: center;
	padding: 30px 5%;
	float: left;
}

.navbar {
	display: block;
	color: white;
	float: left;
	list-style: none;
	float: left;
	
}

.navbar > ul {
	float: left;
}

.navbar > ul > li {
	display: inline-block;
	padding: 0em 2.5em;
	transition: transform .2s;
	float: left;
}

.navbar > ul > li:hover{
	transform: scale(1.2);
}

.logo {
	height: 30%;
	width: 30%;
}

img {
	max-height: 100%;
	max-width: 100%;
}

a{
	text-decoration: none;
	color: white;
}

h1 {
	position: absolute;
	color: white;
	margin-left: 45%;
	margin-top: 10em;
	
}